@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
.background {
    background-image: url("./images/background2.jpg");
    background-size: cover;
    position: relative;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}



header {
    
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
    padding: 20px;
}

h1{
    color: white;
    font-size: 80px;
}

.aboutMe {
    color:white;
    text-align: center;
    font-family: 'Montserrat Subrayada';
    border-style: ridge;
    margin-top:80px;
    width:100%;
    
    }
 p{
     font-family:'Jost', sans-serif;
 }
.navbar {
    text-align:center;
    padding-left: 500px;
    margin-bottom: 40px;
    font-family: 'Montserrat Subrayada';
}


.firstphoto {
    height:80%;
    width: 80%;
    margin-top: 20px;
    border-style: ridge;
    

}

.navlink {
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;



}
footer {
    color:white;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    padding: 100px;

}